# Fichiers compilés
bin/
obj/

# Visual Studio / IDE
.vs/
*.user
*.suo
.vscode/
.idea/

# Packages NuGet
**/packages/
*.nupkg
*.snupkg
.nuget/

# Publish / déploiement
publish/
*.zip

# Secrets / fichiers de config locaux
appsettings.Development.json
*.LocalSecrets.json

# Fichiers temporaires générés par Razor
*.g.cs
*.RazorAssemblyInfo.cs
*.bundle.scp.css
*.staticwebassets.build.json

# Logs et fichiers temporaires
*.log
