<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">© @DateTime.Now.Year Gestion Transport - Tous droits réservés</p>
            </div>
            <div class="col-md-6 text-right">
                <p class="mb-0">Développé avec <i class="feather icon-heart text-danger"></i></p>
            </div>
        </div>
    </div>
</footer>