<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - Gestion Transport</title>

    <!-- Favicon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    
    <!-- Able Pro CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <!-- Pre-loader -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>

    <!-- Sidebar Navigation -->
    <partial name="_Sidebar" />

    <!-- Header -->
    <partial name="_Header" />

    <!-- Main Content -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- Breadcrumb -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">@ViewData["Title"]</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index">
                                        <i class="feather icon-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">@ViewData["Title"]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page Content -->
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/js/vendor-all.min.js"></script>
    <script src="~/js/plugins/bootstrap.min.js"></script>
    <script src="~/js/ripple.js"></script>
    <script src="~/js/pcoded.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>